// Colors
$galaticBlue: #755cde;
$summerYellow: #f6a560;
$pink: #f39e9e;
$lightRed: #eb7565;
$cyan: #61c4b7;
$darkPurple: #552049;
$black: #030303;
$white: #ffffff;
$mediumBrown: #7a746e;
$lightCream: #fff7f0;
